<div class="yz-fl"></div>
{{ template "right" }}
<div class="yz-comm-left">
    <div class="yz-sep20">
    </div>
    <div class="yz-box">
        <div class="yz-cell">
            <span class="yz-fade">
                <a href="/">V2EX</a>
                <span class="yz-chevron">›</span> About</span>
        </div>
        <div class="yz-inner">
            <div class="yz-page">
                <h1>关于有赞币答</h1>
                <div class="yz-sep5"></div>
                <br>整个网站的展示样式是参考V2EX来设计的，后台使用Golang开发的。
                <br>
                <br>目前几个主要的模块是：酷工作、酷生活、相亲角，在这里可以分享自己生活、工作中的各种有趣的事情，保持良好的交流环境。
                <br>
                <br>之所以叫做有赞币答，就是对于现在的各种社区网站，得到尊重的只是那些热门的发言者，而对于普通的用户来说，
                <br>他的浏览、点赞，都没有体现价值，但这里不会！在这里，用户发表了主题，如果得到的赞赏数达到一定数目，
                <br>我希望他得到的赞赏数可以兑换成相应的网站虚拟币，进而可以兑换真实货币或者物品。这不仅是对作者的实在回馈，
                <br>也是对网站用户的回馈。
                <div class="yz-sep10"></div>
                <br>
                <br>但是希望：
                <br>• 尊重作者，欢迎原创
                <br>• 拒接全文转载，但是可以以链接的方式展示
                <br>• 不讨论任何政治问题
                <br>• 反对中文互联网上的无信息量习惯如“顶”，“沙发”，“前排”，“留名”，“路过”，“不明觉厉”
                <br>• 禁止发布人身攻击、仇恨、暴力、侮辱性的言辞、暴露他人隐私的“人肉贴”
                <br>• 遵守中国的法律
                <br>

                <br>具体兑换规则暂时还未确定，但是可以肯定的是，你的每一次点赞都是有价值的劳动
                <br>
                <br>为了获得访问 有赞币答 的最佳体验，我们推荐使用
                <a href="http://chrome.google.com/" target="_blank">Google Chrome</a> 或
                <a href="http://www.getfirefox.com/" target="_blank">Mozilla Firefox</a> 浏览器。
                <div class="yz-sep20"></div>
                <small class="yz-snow">最近修改于：2018-03-01 08:00:00</small>
            </div>
        </div>
    </div>
</div>