<div class="yz-fl"></div>
{{ template "right" }}
<div class="yz-comm-left">
    <div class="yz-sep20"></div>
    <div class="yz-box">
        <div class="yz-header">
            <a href="/">首页</a>
        </div>
        <div class="yz-message yz-hidden" id="yz_tip_message"></div>
        <div class="yz-cell" style="height:500px;">
            <form>
                <table cellpadding="5" cellspacing="0" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="120" align="right">邮箱</td>
                            <td width="auto" align="left">
                                <input type="text" class="yz-sl" name="email"
                                    value="" autofocus="autofocus" autocorrect="off" spellcheck="false" autocapitalize="off"
                                    placeholder="邮箱地址" required="required">
                            </td>
                        </tr>
                        <tr>
                            <td width="120" align="right"></td>
                            <td width="auto" align="left">
                                <input type="button" id="yz_login" class="yz-normal yz-button" onclick="forgetPassword()" value="确认">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>