<div class="yz-fl"></div>
{{ template "right" }}
<div class="yz-comm-left">
    <div class="yz-sep20"></div>
    <div class="yz-box">
        <div class="yz-header">
            <a href="/">首页</a>
            <span class="yz-chevron">›</span> 登录 
            <li class="fa fa-lock"></li>
        </div>
        <div class="yz-message" onclick="$(this).slideUp('fast');">你要查看的页面需要先登录</div>
        <div class="yz-message yz-hidden" id="yz_tip_message"></div>
        <div class="yz-cell">
            <form>
                <table cellpadding="5" cellspacing="0" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="120" align="right">用户名</td>
                            <td width="auto" align="left">
                                <input type="text" class="yz-sl" name="user_name"
                                    value="" autofocus="autofocus" autocorrect="off" spellcheck="false" autocapitalize="off"
                                    placeholder="用户名或电子邮箱地址">
                            </td>
                        </tr>
                        <tr>
                            <td width="120" align="right">密码</td>
                            <td width="auto" align="left">
                                <input type="password" class="yz-sl" name="password"
                                    value="" autocorrect="off" spellcheck="false" autocapitalize="off">
                            </td>
                        </tr>
                        <tr>
                            <td width="120" align="right"></td>
                            <td width="auto" align="left">
                                <input type="button" id="yz_login" class="super normal button" onclick="signIn()" value="登录">
                            </td>
                        </tr>
                        <tr>
                            <td width="120" align="right"></td>
                            <td width="auto" align="left">
                                <a href="/forget">我忘记密码了</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>