<div class="yz-fl"></div>
{{ template "right" }}
<div class="yz-comm-left">
    <div class="yz-sep20"></div>
    <div class="yz-box">
        <div class="yz-header">
            <a href="/">有赞币答</a>
            <span class="yz-chevron">></span> 注册
        </div>
        <div class="yz-inner">
            <div class="yz-message yz-hidden" id="yz_tip_message"></div>
            <form>
                <table cellpadding="5" cellspacing="0" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="120" align="right" valign="top">
                                <div class="yz-sep5"></div>用户名</td>
                            <td width="auto" align="left">
                                <input type="text" class="yz-sls" name="username" value="" autocomplete="off"
                                    autocorrect="off" spellcheck="false" autocapitalize="off" required="required" placeholder="5到20个字符">
                                <div class="yz-sep5"></div>
                                <span class="yz-fade">请使用半角的 a-z 或数字 0-9</span>
                            </td>
                        </tr>
                        <tr>
                            <td width="120" align="right">密码</td>
                            <td width="auto" align="left">
                                <input type="password" class="yz-sls" name="password" value="" autocomplete="new-password"
                                    autocorrect="off" spellcheck="false" autocapitalize="off" required="required">
                            </td>
                        </tr>
                        <tr>
                            <td width="120" align="right" valign="top">
                                <div class="yz-sep5"></div>邮箱</td>
                            <td width="auto" align="left">
                                <input type="email" class="yz-sls" name="email" value="" autocorrect="off"
                                    spellcheck="false" autocapitalize="off" required="required">
                                <div class="yz-sep5"></div>
                                <span class="yz-fade">请使用真实邮箱注册，我们不会将你的邮箱地址分享给任何人</span>
                            </td>
                        </tr>
                        <tr>
                            <td width="120" align="right"></td>
                            <td width="auto" align="left">
                                <input type="button" class="super normal button" onclick="signUp()" value="注册">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>