/*布局样式*/
.common_block_border {
  margin-bottom: 20px;
  background: white;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.common_block_title {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
}
.common_block_body {
  padding: 8px 5px;
}
.common_block_title_right {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
  padding-left: 5px;
  margin-left: 5px;
}
.padding_10 {
  padding: 10px;
}
.margin_10 {
  margin: 10;
}
.margin_bottom_10 {
  margin-bottom: 10px;
}
.margin_bottom_0 {
  margin-bottom: 0px;
}
.margin_bottom_15 {
  margin-bottom: 15px;
}
/*布局样式end*/
.sub_menu .navbar-default {
  background: white;
  border: 1px solid #dddddd;
}
.sub_menu .navbar-default .navbar-nav > .active > a,
.sub_menu .navbar-default .navbar-nav > .active > a:hover,
.sub_menu .navbar-default .navbar-nav > .active > a:focus,
.sub_menu .navbar-default .navbar-nav > li > a:hover,
.sub_menu .navbar-default .navbar-nav > li > a:focus {
  background: none;
  color: #999;
  font-size: 16px;
  border-bottom: 3px solid #03ae87;
}
.sub_menu .navbar-default .navbar-nav > .open > a,
.sub_menu .navbar-default .navbar-nav > .open > a:hover,
.sub_menu .navbar-default .navbar-nav > .open > a:focus {
  border-bottom: 3px solid #03ae87;
  background: white !important;
}
.sub_menu .navbar-default .navbar-nav > li > a {
  color: #999;
  font-size: 16px;
}
.sub_menu .navbar-default .navbar-brand {
  color: #666;
}
.sub_nav {
  background: none;
}
.sub_nav .navbar-default {
  background: none !important;
}
.hr_3d {
  border-bottom: 1px solid white;
  border-top: 1px #cccccc solid;
}
.btn-primary {
  color: #ffffff;
  background-color: #03ae87;
  border-color: #039574;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #03ae87;
  border-color: #03ae87;
  cursor: default;
}
.footer_bar {
  background: white;
  color: #7E7E7E;
}
.footer-jumbotron {
  padding: 30px;
  color: #fff;
  background-color: #858786;
}
a.count_blue:visited, a.count_green:visited, a.count_livid:visited, a.count_orange:visited {
  background-color: #e5e5e5;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  margin-right: 5px;
}
a.count_livid:active, a.count_livid:link {
  background-color: #aab0c6;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  margin-right: 5px;
  word-break: keep-all;
}
a.count_blue:visited, a.count_green:visited, a.count_livid:active, a.count_livid:hover, a.count_livid:link, a.count_livid:visited, a.count_orange:visited {
  line-height: 12px;
  color: #fff;
  padding: 2px 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}
a:active, a:link, a:visited {
  color: #666;
  text-decoration: none;
  word-break: break-all;
}
.sep5 {
  height: 5px;
}
.cc {
  color: #ccc;
}
a.node:active, a.node:link, a.node:visited {
  background-color: #f5f5f5;
  font-size: 10px;
  line-height: 10px;
  display: inline-block;
  padding: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
  color: #999;
}
.cell{
  padding: 10px;
  font-size: 14px;
  line-height: 120%;
  text-align: left;
  border-bottom: 1px solid #e2e2e2;
}
.page_normal:link, .page_normal:visited, .page_normal:active {
  display: inline-block;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  padding: 2px 5px 2px 5px;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0px 1px 0px 1px;
  text-decoration: none;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
a:link, a:visited, a:active {
  color: #778087;
  text-decoration: none;
  word-break: break-all;
}
.page_input {
  padding: 4px 4px 4px 4px;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  width: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset;
  color: #ccc;
}
.page_current {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  padding: 3px 6px 3px 6px;
  background-color: #f0f0f0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0px 1px 0px 1px;
  border: 1px solid #bbb;
  color: #000;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.normal.button {
  background-color: #fff;
  color: #333;
  text-shadow: 0px 1px 0px #fff;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.1);
}
.super.button {
  background-image: url(/static/img/bg_blended_light.png);
  padding: 4px 8px 4px 8px;
  border: 1px solid rgba(80,80,90, 0.2);
  border-bottom-color: rgba(80,80,90, 0.35);
  border-radius: 3px;
  font-size: 14px;
  /* line-height: 12px; */
  outline: none;
}
.normal_page_right.button {
  background-color: #fff;
  color: #333;
  text-shadow: 0px 1px 0px #fff;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.1);
}
.disable_now {
  color: #ccc !important;
  background-color: #fff !important;
}