{{ define "subCategoryTop" }}
<div class="yz-tab-header">
    <div class="yz-tab-avatar">
        <div class="yz-tab-left-img">
            <img src="//cdn.v2ex.com/navatar/c20a/d4d7/12_xxlarge.png?m=1517819913" border="0" align="default" width="72">
        </div>
    </div>
    <div class="yz-tab-info">
        <div class="yz-fr yz-f12">
            <span>主题总数</span>
            <strong>{{ .ArticleCount}}</strong>
        </div>
        <a href="/">有赞币答</a>
        <span class="yz-chevron">&nbsp;›&nbsp;</span> {{ .CurrentCate.Name}}

        <div class="yz-sep10"></div>
        <div class="yz-sep5"></div>
        <div class="yz-fr" style="padding-left: 10px;"></div>
        <span class="yz-f12"> {{ .CurrentCate.Description}}</span>

        <div class="yz-sep10"></div>
        <div class="yz-tab-header-tabs">
            <a href="/go/qna" class="yz-tab-header-current">全部主题</a>
        </div>
    </div>
</div>
{{ end }}