{{define "category"}}
<div class=" yz-inner yz-index-category" id="Tabs">
    {{ range $key,$value := .Category }}
        {{ if eq $value.Pid 0 }}
            {{ if eq $.CurrentCate.Id $value.Id }}
                <a href="{{ $value.Url }}" class="tab_current">{{ $value.Name }}</a>
            {{ else }}
             <a href="{{ $value.Url }}" class="tab">{{ $value.Name }}</a>
            {{ end }}
        {{ end }}
    {{ end }}
</div>
<div class="yz-cell yz-tab-sub">
    {{ range $key,$value := .Category }}
        {{ if eq $.CurrentCate.Pid 0 }}
            {{ if eq $value.Pid $.CurrentCate.Id }}
            <a href="{{ $value.Url }}">{{ $value.Name }}</a>
            {{ end }}
        {{ else }}
            {{ if eq $value.Pid $.CurrentCate.Pid}}
            <a href="{{ $value.Url }}">{{ $value.Name }}</a>
            {{ end }}
        {{ end }}    
    {{ end }}
</div>
{{end}}