{{define "footer"}}
<div class="yz-footer">
    <div class="yz-foot-content">
        <div class="yz-inner">
            <div class="yz-sep10"></div>
            <div class="yz-fr">
                <a href="https://www.digitalocean.com/?refcode=1b51f1a7651d" target="_blank">
                    <img src="//cdn.v2ex.com/assets/logos/do_blue.png" width="60" border="0" alt="DigitalOcean">
                </a>
            </div>
            <strong>
                <a href="/about" class="yz-dark" target="_blank">关于</a> &nbsp;
                <span class="yz-snow">·</span> &nbsp;
                <a href="/faq" class="yz-dark" target="_blank">FAQ</a> &nbsp;
                <span class="snow">·</span> &nbsp;
                <a href="/p/7v9TEc53" class="yz-dark" target="_blank">API</a> &nbsp;
                <span class="yz-snow">·</span> &nbsp;
                <a href="/mission" class="yz-dark" target="_blank">我们的愿景</a> &nbsp;
                <span class="snow">·</span> &nbsp;
                <a href="/advertise" class="yz-dark" target="_blank">广告投放</a> &nbsp;
                <span class="yz-snow">·</span> &nbsp;
                <a href="/advertise/2016.html" class="yz-dark" target="_blank">鸣谢</a> &nbsp;
                <span class="yz-snow">·</span> &nbsp; 3014 人在线</strong> &nbsp;
            <span class="yz-fade">最高记录 3541</span> &nbsp;
            <span class="yz-snow">·</span> &nbsp;
            <a href="/select/language">
                <img src="/image/lang_zhcn_32.png" align="absmiddle" border="0" width="20" alt="">
            </a>
            <div class="yz-sep20"></div>
            创意工作者们的社区
            <div class="yz-sep5"></div>
            World is powered by solitude
            <div class="yz-sep20"></div>
            <span class="yz-small yz-fade">VERSION: 3.9.8.0 · 34ms · UTC 06:00 · PVG 14:00 · LAX 22:00 · JFK 01:00
                <br>♥ Do have faith in what you're doing.</span>
            <div class="yz-sep20"></div>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                    <tr>
                        <td width="140" valign="middle" align="left" style="background-color: transparent;">
                            <span class="yz-f12 yz-gray">
                                <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">沪ICP备16043287号-1</a>
                            </span>
                        </td>
                        <td width="auto" align="left" valign="middle" style="background-color: transparent;">
                            <a key="59f03eb90c90967a9253b2d0" logo_size="83x30" logo_type="business" href="https://v.pinpaibao.com.cn/authenticate/cert/?site=www.v2ex.com&amp;at=business"
                                target="_blank">
                                <b id="aqLogoCOWQX" style="display: none;"></b>
                                <img src="//static.anquan.org/static/outer/image/hy_83x30.png?id=www.v2ex.com?t=2" alt="安全联盟认证"
                                    width="83" height="30" style="border: none;">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="sep10"></div>
        </div>
    </div>
</div>
{{ end }}