{{define "footer"}}
<div class="footer-jumbotron footer_bar">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <h2>
                            <a href="http://www.ourstu.com" target="_blank"></a>
                            <a target="_blank" href="http://www.youzanbida.com/">有赞币答-你的每一次点赞都是有价值的劳动</a>
                        </h2>
                        <p class="han_p">在这里，可以
                            <a href="http://jq.qq.com/?_wv=1027&amp;k=2Ei4Wg3" target="_blank" rel="nofollow">点击加入【松松站长交流QQ群 433015940】</a>
                        </p>
                        <div class="row">
                            <div class="col-xs-6">备案号：
                                <a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备12044334号</a>
                            </div>
                            <div class="col-xs-6 text-right">
                            </div>
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="footer_right">
                        <h4><strong>联系</strong></h4>
                        <p>
                            <a href="http://localhost/about.html" target="_blank">关于我们</a>
                        </p>
                        <p>
                            <a href="http://localhost/history.html" target="_blank">发展历程</a>
                        </p>
                        <p>
                            <a href="http://user.qzone.qq.com/13340454" target="_blank">QQ空间</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-2">
                     <img src="/Public/Core/images/erweima.png">
                </div>
            </div>
        </div>
    </div>
{{ end }}