<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1">
    <title>有赞币答-你的每一次点赞都是有价值的付出</title>
    <meta name="keywords" content="技术，交流，点赞，答谢，工作，交易，城市，相亲角">
    <meta name="description" content="技术交流与工作，面向对象">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.qtip.min.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/oneplus.css">
    <link rel="stylesheet" type="text/css" href="/css/check.css">
    <link rel="stylesheet" type="text/css" href="/css/forum.css">
    <link rel="stylesheet" type="text/css" href="/css/rank.css">
    <link rel="stylesheet" type="text/css" href="/css/note.css">
    <link rel="stylesheet" type="text/css" href="/css/ucenter.css">
     {{range $key,$value := .Css}}
    <link rel="stylesheet" type="text/css" href="{{$value}}"> {{end}}
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script> {{range $key,$value := .Js}}
    <script type="text/javascript" src="{{$value}}"></script> {{end}}
</head>
<body>
    {{ template "main_nav" }}
    {{ yield }}
    {{ template "footer" }}
</body>

</html>