<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1">
    <title>有赞币答-我的心里需要你的一次点赞</title>
    <meta name="keywords" content="心理，心理学，交流，沟通，点赞">
    <meta name="description" content="心理学交流">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/jquery.toast.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/yz-style.css">
    <link rel="stylesheet" type="text/css" href="/css/yz-new.css">
    <link rel="stylesheet" type="text/css" href="/select2/select2.css">

    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/wangEditor.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/select2/select2.js"></script>
    <script type="text/javascript" src="/js/jquery.toast.min.js"></script>
    <script type="text/javascript" src="/js/template.js"></script>
    <script type="text/javascript" src="/js/yzcomm.js"></script>
</head>
<body>
    {{ template "main_nav" . }}
    <div id="main-container" class="yz-main-container">
        <div class="yz-content">
        {{ yield }}
        </div>
        <div class="yz-sep20"></div>
        <div class="yz-clear"></div>
    </div>
</body>

</html>