<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1">
    <title>有赞币答-你的每一次点赞都是有价值的付出</title>
    <meta name="keywords" content="技术，交流，点赞，答谢，工作，交易，城市，相亲角">
    <meta name="description" content="技术交流与工作，面向对象">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.qtip.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/yz-style.css">
    <link rel="stylesheet" type="text/css" href="/css/yz-new.css">
    <link rel="stylesheet" type="text/css" href="/codemirror/codemirror.css">
    <link rel="stylesheet" type="text/css" href="/select2/select2.css">

    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script> 
    <script type="text/javascript" src="/js/wangEditor.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/codemirror/codemirror.js"></script>
    <script type="text/javascript" src="/select2/select2.js"></script>
    <script type="text/javascript" src="/js/yzcomm.js"></script>
    <script type="text/javascript" src="/js/template.js"></script>
</head>
<body>
    {{ template "main_nav" . }}
    <div id="main-container" class="yz-main-container">
        <div class="yz-content">
        {{ yield }}
        </div>
        <div class="yz-sep20"></div>
        <div class="yz-clear"></div>
    </div>
    {{ template "footer" }}
</body>

</html>