{{ define "leftMainContent" }}
<div class="yz-cell yz-item">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
            <tr>
                <td width="48" valign="top" align="center">
                    <a href="/member/ttgo">
                        <img src="//cdn.v2ex.com/avatar/54a9/40cc/276192_normal.png?m=1513923135" class="avatar" border="0" align="default">
                    </a>
                </td>
                <td width="10"></td>
                <td width="auto" valign="middle">
                    <span class="yz-item-title">
                        <a href="/t/427796#reply723">隔壁组的小兵集体情愿 要炒了 team leader</a>
                    </span>
                    <div class="yz-sep5"></div>
                    <span class="yz-small yz-fade">
                        <div class="yz-votes">
                            <li class="fa fa-chevron-up"></li> &nbsp;80 &nbsp;&nbsp; </div>
                        <a class="yz-node" href="/go/career">职场话题</a> &nbsp;•&nbsp;
                        <strong>
                            <a href="/member/ttgo">ttgo</a>
                        </strong> &nbsp;•&nbsp; 3 分钟前 &nbsp;•&nbsp; 最后回复来自
                        <strong>
                            <a href="/member/fengche361">fengche361</a>
                        </strong>
                    </span>
                </td>
                <td width="70" align="right" valign="middle">
                    <a href="/t/427796#reply723" class="count_livid">723</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{ end }}