{{ define "left" }}
<div id="Main">
        <div class="sep20"></div>
        <div class="box">
            {{ template "category" .}}
            <div class="cell item">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="48" valign="top" align="center">
                                <a href="/member/visitantzj">
                                    <img src="//v2ex.assets.uxengine.net/gravatar/963ec920701f8f2ff0dd939f2f897aee?s=48&amp;d=retro"
                                        class="avatar" border="0" align="default">
                                </a>
                            </td>
                            <td width="10"></td>
                            <td width="auto" valign="middle">
                                <span class="item_title">
                                    <a href="/t/418966#reply59">Firefox57 用了段时间过了扩展替换磨合期，确实感觉体验比 chrome 还好</a>
                                </span>
                                <div class="sep5"></div>
                                <span class="small fade">
                                    <div class="votes">
                                        <li class="fa fa-chevron-up"></li> &nbsp;2 &nbsp;&nbsp; </div>
                                    <a class="node" href="/go/programmer">程序员</a> &nbsp;•&nbsp;
                                    <strong>
                                        <a href="/member/visitantzj">visitantzj</a>
                                    </strong> &nbsp;•&nbsp; 刚刚 &nbsp;•&nbsp; 最后回复来自
                                    <strong>
                                        <a href="/member/p2pweb">p2pweb</a>
                                    </strong>
                                </span>
                            </td>
                            <td width="70" align="right" valign="middle">
                                <a href="/t/418966#reply59" class="count_livid">59</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cell item">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="48" valign="top" align="center">
                                <a href="/member/blueaurora">
                                    <img src="//v2ex.assets.uxengine.net/gravatar/de3414c79554ea1fce4f42c38b4cc9f6?s=48&amp;d=retro"
                                        class="avatar" border="0" align="default">
                                </a>
                            </td>
                            <td width="10"></td>

                            <td width="auto" valign="middle">
                                <span class="item_title">
                                    <a href="/t/418508#reply61">这份工作不到半年就要跳槽，下边几个潜在选择求建议：</a>
                                </span>
                                <div class="sep5"></div>
                                <span class="small fade">
                                    <div class="votes"></div>
                                    <a class="node" href="/go/programmer">程序员</a> &nbsp;•&nbsp;
                                    <strong>
                                        <a href="/member/blueaurora">blueaurora</a>
                                    </strong> &nbsp;•&nbsp; 9 小时 51 分钟前 &nbsp;•&nbsp; 最后回复来自
                                    <strong>
                                        <a href="/member/gpw1987">gpw1987</a>
                                    </strong>
                                </span>
                            </td>
                            <td width="70" align="right" valign="middle">
                                <a href="/t/418508#reply61" class="count_livid">61</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="inner">
                <div class="fr">
                    <a href="/feed/tab/tech.xml" target="_blank">
                        <img src="/image/rss.png" align="absmiddle" style="margin-top:-3px;" border="0">
                    </a>&nbsp;
                    <a href="/feed/tab/tech.xml" target="_blank">通过 Atom Feed 订阅</a>
                </div>
                <span class="chevron">→</span>
                <a href="/recent">更多新主题</a>
            </div>
        </div>

        <div class="sep20"></div>
    </div>
{{ end }}