{{ define "mainContent" }}
{{range $key, $value := .Articles}}
<div class="yz-cell yz-item">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
            <tr>
                <td width="215" valign="top" align="center">
                    <div class="yz-content-img">
                        <a href="/member/{{$value.CreatorName}}">
                            <img src="//cdn.v2ex.com/avatar/54a9/40cc/276192_normal.png?m=1513923135" class="avatar" border="0" align="default">
                        </a>
                    </div>
                </td>
                <td width="10"></td>
                <td width="auto" valign="top">
                    <h2 class="yz-item-title">
                        <a href="/article/{{$value.Id}}">{{ $value.Title}}</a>
                    </h2>
                    <div class="yz-des">
                        {{ $value.Content | unescaped}}
                    </div>
                    <div class="yz-small yz-fade">
                        <a class="yz-node" href="/go/career">职场话题</a> &nbsp;•&nbsp;
                        <strong>
                            <a href="/member/{{$value.CreatorName}}">{{ $value.CreatorName}}</a>
                        </strong> &nbsp;•&nbsp;  发表时间:{{ $value.CreatedAt | formatToDate }}
                        <div class="yz-fr">
                            <span class="yz-meta-item"><span class="fa fa-eye"></span>{{ $value.ViewTimes}}</span>
                            <span class="yz-meta-item"><span class="fa fa-thumbs-up"></span>{{ $value.PriseNum}}</span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{ end }}
{{ end }}