{{ define "main_nav" }}
<div class="yz-top">
    <div class="yz-top-content">
        <div class="yz-top-col">
            <table cellpadding="0" cellspacing="0" class="yz-top-table">
                <tbody>
                    <tr>
                        <td width="110" align="left">
                            <a href="/" name="top" title="way to explore">
                                <img src="/image/yzbd.png"  align="default" alt="YZBD" class="yz-top-logo" border="0" width="94" height="30">
                            </a>
                        </td>
                        <td width="auto" align="left">
                            <div id="Search">
                                <form action="https://www.google.com" onsubmit="return dispatch()" target="_blank">
                                    <div class="yz-top-search">
                                        <input type="text" maxlength="40" name="s" id="s" value="" class="yz-top-search-input">
                                    </div>
                                </form>
                            </div>
                        </td>
                        <td width="570" align="right" class="yz-top-right">
                            <a href="/" class="top">首页</a>
                            {{ if and .User .User.Id}}
                            <a href="/member/{{ .User.Username}}" class="top">{{ .User.Username}}</a>
                            <a href="/ucenter/settings" class="top">设置</a>
                            <a href="#;" onclick="signOut()" class="top">登出</a>
                            {{ else }}
                            <a href="/signup" class="top">注册</a>
                            <a href="/signin" class="top">登录</a>
                            {{ end }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}