{{ define "right" }}
<div class="col-md-3">
    <!--登录后显示个人区域-->
    <div class="forum_module" id="user_module">
        <div class="row">
            <div class="col-sm-4">
                    <a href="/ucenter/29050.html" data-hasqtip="0">
                        <img src="/image/default_128_128.jpg" class="avatar-img">
                    </a>
            </div>
            <div class="col-sm-6">
                <span class="name">
                    <a ucard="" href="/ucenter/29050.html" class="user_name" data-hasqtip="1">雪楓_BWl7</a>
                </span>
                <p>
                    <span class="touxian">
                            暂无头衔
                    </span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-center">
                <a href="/ucenter/fans">0</a><br>粉丝
            </div>
            <div class="col-sm-4 text-center">
                <a href="/ucenter/following">0</a><br>关注
            </div>
        </div>
        <div class="row"> 
            <div class="col-sm-12">
                    <div class="col-sm-12 text-primary">
                            积分：10
                    </div>
                    <div class="col-sm-12 text-primary">
                            等级：Lv1 实习
                    </div>
                    
            </div>
            
        </div>
    </div>
    <!--登录后显示个人区域部分结束-->
    <!-- 签到 -->
    <div class="forum_module">
        <div class="row box1" id="checkdiv">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
                <i class="ico_calendar"></i>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center" style="color: #fff; padding-top:2px;line-height: 16px">
                <div>01.02</div>
                <div>周二</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="/login" id="checkin" class="btn-sign">签到</a>
            </div>
        </div>
        <div class="row checkin">
            <div class="check_rank ">
                <ul class="check_rank_list">
                    <li class="row">
                        <div class="paiming col-sm-2">
                            1 </div>
                        <div class="list col-sm-5">
                            <a ucard="13131" class="text-more" style="width: 100%;" href="/ucenter/13131.html" data-hasqtip="66">
                                甲醛治理资讯</a>
                        </div>
                        <div class="col-sm-5 check_date">
                            <span class="pull-right">00:01:10</span>
                        </div>
                    </li>
                </ul>
                <div class="col-xs-12">
                    <a href="/people/index/ranking.html">
                        <span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;查看签到排行
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- end -->
    <div class="forum_module">            
        <div class="hot_post common_block_border" style="margin-top: 10px">
            <div class="row common_block_title">
                热门讨论
            </div>
            <dl>
                <dt>
                    <span class="hot_num">1</span>
                    <a href="/forum/detail_125168.html" title="一篇看懂SEO外链的全部规律">
                        一篇看懂SEO外链的全部规律 </a>
                </dt>
            </dl>
        </div>
    </div>
    
    <!--最新文章-->
    <div class="forum_module"> 
        <div class="hot-topic common_block_border">
            <div class="common_block_title">最新文章</div>
            <ul>
                <li>
                    <a href="http://lusongsong.com/reed/9749.html" title="2018年快速提升网站排名的方法及策略" target="_blank">2018年快速提升网站排名的方法及策略</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 公告-->
    <div class="forum_module"> 
        <div class="gonggao">
            <div class="row common_block_title" style="margin-left:0px;">
                全站公告
            </div>
            <div id="_pe6wobp2a2"></div>
        </div>
    </div>
    <!-- 友情链接 -->
    <div class="forum_module"> 
        <div class="flink_text" style="margin-bottom: 20px;background: none repeat scroll 0% 0% #FFF;border-radius: 3px;border: 1px solid #CCC;">
            <h2 class="tit" style="margin:10px;">友情连接</h2>
            <p class="pList clearfix" style="margin:10px;">
                <span>
                    <a target="_blank" title="" href="http://lusongsong.com/">卢松松博客</a>
                    <br>
                    <a target="_blank" title="" href="http://www.zui5.com/">站长工具</a>
                    <br>
                    <a target="_blank" title="" href="http://down.lusongsong.com/">松松资讯</a>
                    <br>
                    <a target="_blank" title="" href="http://www.tui56.com/">站长论坛</a>
                    <br>
                    <a target="_blank" title="" href="https://ruanwen.lusongsong.com/">软文推广</a>
                    <br>
                    <a target="_blank" title="" href="http://www.mcyit.com/">中文业界资讯站</a>
                    <br>
                    <a target="_blank" title="" href="https://www.songsongyun.com/">松松云</a>
                    <br>
                    <a target="_blank" title="" href="http://shenyongxiang.com/">申永祥</a>
                    <br>
                    <a target="_blank" title="" href="http://tool.lusongsong.com/">松松站长工具</a>
                    <br>
                    <a target="_blank" title="" href="http://www.zhuaqubao.com/">抓取宝</a>
                    <br> </span>
            </p>
        </div>
    </div>
        <!--首页右侧部分结束-->
</div>
{{ end }}