{{ define "tabSubcategory"}}
<div class=" yz-inner yz-index-category" id="Tabs">
    <a href="/?tab=tech" class="tab">技术</a>
    <a href="/?tab=creative" class="tab">创意</a>
    <a href="/?tab=play" class="tab">好玩</a>
    <a href="/?tab=apple" class="tab">Apple</a>
    <a href="/?tab=jobs" class="tab_current">酷工作</a>
    <a href="/?tab=deals" class="tab">交易</a>
    <a href="/?tab=city" class="tab">城市</a>
    <a href="/?tab=qna" class="tab">问与答</a>
    <a href="/?tab=hot" class="tab">最热</a>
    <a href="/?tab=all" class="tab">全部</a>
    <a href="/?tab=r2" class="tab">R2</a>
</div>
<div class="yz-cell yz-tab-sub">
    <a href="/go/jobs">酷工作</a> &nbsp; &nbsp;
    <a href="/go/cv">求职</a> &nbsp; &nbsp;
    <a href="/go/career">职场话题</a> &nbsp; &nbsp;
    <a href="/go/outsourcing">外包</a>
    <div class="yz-fr">
        <a href="/new/cv">发布我的简历</a> &nbsp; &nbsp;
        <a href="/new/jobs">发布招聘信息</a>
    </div>
</div>
{{ end }}