{{ define "leftReplyList" }}
<div class="yz-box" id="yz_reply_list">
    <div class="yz-cell">
        <span class="yz-gray">{{ .ReplyCount }} 回复</span>
    </div>
    {{range $key,$value := .ReplyList}}
    <div id="r_5328068" class="yz-cell">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
                <tr>
                    <td width="48" valign="top" align="center">
                        <img src="//cdn.v2ex.com/avatar/8878/4039/96987_normal.png?m=1423702076" class="yz-avatar" border="0" align="default">
                    </td>
                    <td width="10" valign="top"></td>
                    <td width="auto" valign="top" align="left">
                        <div class="yz-sep3"></div>
                        <strong>
                            <a href="/member/SevanJoe" class="yz-dark">{{ $value.Username}}</a>
                        </strong>
                        <span class="yz-ago">{{ $value.CreatedAt | formatToTime}}</span>
                        <div class="yz-sep5"></div>
                        <div class="yz-reply-content">{{ $value.Content}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {{ end }}
</div>
{{ end }}