{{ define "leftArtDetail" }}
<div class="yz-box" style="border-bottom: 0px;">
    <div class="yz-header">
        <div class="yz-fr">
            <a href="/member/ycmchong">
                <img src="//cdn.v2ex.com/avatar/3282/e920/161996_large.png?m=1488855524" class="yz-avatar" border="0" align="default">
            </a>
        </div>
        <a href="/">V2EX</a>
        <span class="yz-chevron"> › </span>
        <div class="yz-sep10"></div>
        <h2 id="art_id" class="yz-hidden">{{ .Article.Id}}</h2>
        <h1>{{.Article.Title}}</h1>
        <div id="topic_votes" class="yz-votes">
            <a href="javascript:upVoteTopic({{ .Article.Id}});" class="yz-vote" id="vote-up">
                <li class="fa fa-thumbs-up">{{ .Article.PriseNum}}</li>
            </a> &nbsp;
            <a href="javascript:downVoteTopic({{ .Article.Id}});" class="yz-vote" id="vote-down">
                <li class="fa fa-thumbs-down">{{.Article.DissNum}}</li>
            </a>
        </div> &nbsp;
        <small class="yz-gray">
            <a href="/member/ycmchong">{{.Article.CreatorName}}</a>  · {{ .Article.ViewTimes}} 次浏览 &nbsp; </small>
    </div>
    <div class="yz-cell">
        <div class="yz-topic-content">
            <div class="yz-markdown-body">
                    {{ .Article.Content | unescaped }}
            </div>
        </div>
    </div>
</div>
<script>
    var csrfToken = '1234567777889';
</script>
{{ end }}