{{ define "leftReply"}}
<div class="yz-box">
    <div class="yz-cell">
        <div class="yz-fr">
            <a href="#" onclick="goTop()">
                <strong>↑</strong> 回到顶部</a>
        </div>
        添加一条新回复
    </div>
    <div class="yz-cell">
        <form id="yz_reply_form">
            <textarea name="content" maxlength="10000" class="yz-mll" id="yz_reply_content" style="overflow: hidden; word-wrap: break-word; resize: none; height: 112px;"></textarea>
            <div class="yz-sep10"></div>
            <div class="yz-fr">
                <div class="yz-sep5"></div>
                <span class="yz-gray">请尽量让自己的回复能够对别人有帮助</span>
            </div>
            <input type="button" id="article_reply" value="回复" class="yz-super yz-normal yz-button">
            <span class="yz-message yz-hidden" id="yz_tip_message"></span>
        </form>
    </div>
    <div class="yz-inner">
        <div class="yz-fr">
            <a href="/">← 有赞币答</a>
        </div>
        &nbsp;
    </div>
</div>
<script id="yz_topic_reply" type="text/html">
    <div id="r_5328068" class="yz-cell">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
                <tr>
                    <td width="48" valign="top" align="center">
                        <img src="//cdn.v2ex.com/avatar/8878/4039/96987_normal.png?m=1423702076" class="yz-avatar" border="0" align="default">
                    </td>
                    <td width="10" valign="top"></td>
                    <td width="auto" valign="top" align="left">
                        <div class="yz-sep3"></div>
                        <strong>
                            <a href="/member/SevanJoe" class="yz-dark">{{ .User.Username}}</a>
                        </strong>
                        <span class="yz-ago">刚刚</span>
                        <div class="yz-sep5"></div>
                        <div class="yz-reply-content">#{=result.content}#</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>
<script type="text/javascript">
    template.config({sTag: '#{', eTag: '}#'});
    $("#article_reply").on("click", function(){
        replyArticle($("#art_id").text());
    });
</script>
{{ end }}