{{ define "rightHotTopic" }}
<div class="yz-box" id="TopicsHot">
    <div class="yz-cell">
        <span class="yz-fade">今日热议主题</span>
    </div>

    <div class="yz-cell from_85759 hot_t_429506">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
                <tr>
                    <td width="24" valign="middle" align="center">
                        <a href="/member/qweaszxcdf">
                            <img src="//cdn.v2ex.com/gravatar/8863208730f1800af726335da684675f?s=24&amp;d=retro" class="avatar"
                                border="0" align="default" style="max-width: 24px; max-height: 24px;">
                        </a>
                    </td>
                    <td width="10"></td>
                    <td width="auto" valign="middle">
                        <span class="item_hot_topic_title">
                            <a href="/t/429506">京东售后。。。怎么说呢</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="yz-cell from_72587 hot_t_429632">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
                <tr>
                    <td width="24" valign="middle" align="center">
                        <a href="/member/sutking">
                            <img src="//cdn.v2ex.com/avatar/286b/1d8c/72587_normal.png?m=1466646436" class="avatar" border="0"
                                align="default" style="max-width: 24px; max-height: 24px;">
                        </a>
                    </td>
                    <td width="10"></td>
                    <td width="auto" valign="middle">
                        <span class="item_hot_topic_title">
                            <a href="/t/429632">天真的我再一次被虚假宣传戏弄了，这一次是京东！</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="yz-cell from_206876 hot_t_429542">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
                <tr>
                    <td width="24" valign="middle" align="center">
                        <a href="/member/erming">
                            <img src="//cdn.v2ex.com/gravatar/7f4b3895936964b79c53290b8ea350b0?s=24&amp;d=retro" class="avatar"
                                border="0" align="default" style="max-width: 24px; max-height: 24px;">
                        </a>
                    </td>
                    <td width="10"></td>
                    <td width="auto" valign="middle">
                        <span class="item_hot_topic_title">
                            <a href="/t/429542">go 语言适合写桌面程序吗？</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{ end }}