{{ define "rightWebStatus"}}
<div class="yz-box">
    <div class="yz-cell">
        <span class="yz-fade">运行状况</span>
    </div>
    <div class="yz-cell">
        <table cellpadding="5" cellspacing="0" border="0" width="100%">
            <tbody>
                <tr>
                    <td width="60" align="right">
                        <span class="gray">注册会员</span>
                    </td>
                    <td width="auto" align="left">
                        <strong>290934</strong>
                    </td>
                </tr>
                <tr>
                    <td width="60" align="right">
                        <span class="gray">主题</span>
                    </td>
                    <td width="auto" align="left">
                        <strong>429740</strong>
                    </td>
                </tr>
                <tr>
                    <td width="60" align="right">
                        <span class="gray">回复</span>
                    </td>
                    <td width="auto" align="left">
                        <strong>5316606</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="yz-inner">
        <span class="chevron">›</span>
        <a href="/top/rich">财富排行榜</a>
        <div class="yz-sep5"></div>
        <span class="chevron">›</span>
        <a href="/top/player">消费排行榜</a>
    </div>
</div>
{{ end }}