{{ define "articleNewLeft" }}
<div class="yz-box" id="box">
    <div class="yz-cell">
        <a href="/">有赞币答</a>
        <span class="yz-chevron"> › </span> 创作新主题</div>
    <form>
        <div class="yz-cell">
            <div class="yz-fr yz-fade" id="title_remaining">120</div>
            主题标题
        </div>
        <div class="yz-cell yz-editor-title">
            <textarea class="yz-msl" rows="1" maxlength="120" id="topic_title" name="title" autofocus="autofocus" placeholder="请输入主题标题，如果标题能够表达完整内容，则正文可以为空"></textarea>
        </div>
        <div class="yz-cell">
            <div class="yz-fr yz-fade" id="content_remaining">20000</div>
            正文
        </div>
        <div id="yz_editor" class="yz-editor-area">
            <p>请输入内容</p>
        </div>
        <div class="yz-cell">
            <select name="node_name" id="yz_nodes" class="yz-nodes">
                {{ range $key,$value := .Categories }} 
                <option value="{{ $value.Id }}">{{ $value.Name }}</option>
                {{ end }}
            </select>
        </div>
        <input type="hidden" name="once" value="22183">
    </form>
    <div class="yz-cell">
        <div>
            <span id="yz_error_message"></span> &nbsp;
            <button type="button" class="yz-super yz-normal yz-button"  onclick="publishTopic();">
                <li class="fa fa-paper-plane"></li> &nbsp;发布主题</button>
        </div>
    </div>
    <div class="yz-inner" id="topic_preview">
        <div class="yz-topic-content">
            <div class="yz-markdown-body"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        var E = window.wangEditor
        editor = new E('#yz_editor')
        editor.create()
        $('#yz_nodes').select2({
            placeholder: '请选择一个节点'
        });
        $('#yz_nodes').on("change", function(){
            $("#yz_error_message").html('');
        });  
    });
</script>
{{ end }}