{{ define "articleNewLeft" }}
<div class="yz-box" id="box">
    <div class="yz-cell">
        <a href="/">有赞币答</a>
        <span class="yz-chevron"> › </span> 创作新主题</div>
    <form>
        <div class="yz-cell">
            <div class="yz-fr yz-fade" id="title_remaining">120</div>
            主题标题
        </div>
        <div class="yz-cell yz-editor-title">
            <textarea class="yz-msl" rows="1" maxlength="120" id="topic_title" name="title" autofocus="autofocus" placeholder="请输入主题标题，如果标题能够表达完整内容，则正文可以为空"></textarea>
        </div>
        <div class="yz-cell">
            <div class="yz-fr yz-fade" id="content_remaining">20000</div>
            正文
        </div>
        <div class="yz-editor-area">
            <textarea maxlength="20000" id="editor" name="content" class="yz-editor"></textarea>
        </div>
        <div class="yz-cell">
            <select name="node_name" id="yz_nodes" class="yz-nodes">
                <option></option>
            </select>
        </div>
        <input type="hidden" name="once" value="22183">
    </form>
    <div class="yz-cell">
        <div>
            <span id="yz_error_message"></span> &nbsp;
            <button type="button" class="yz-super yz-normal yz-button"  onclick="publishTopic();">
                <li class="fa fa-paper-plane"></li> &nbsp;发布主题</button>
        </div>
    </div>
    <div class="yz-inner" id="topic_preview">
        <div class="yz-topic-content">
            <div class="yz-markdown-body"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        var itemList = [{id:1, text:'2015 / 2015', value: '2015'},{id:2, text: '知乎 / zhihu', value: 'zhihu'}];
        $('#yz_nodes').select2({
            placeholder: '请选择一个节点',
            data: itemList
        });
        $('#yz_nodes').on("change", function(){
            $("#yz_error_message").html('');
        });
        editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
            mode: "markdown",
            lineNumbers: true,
            lineWrapping: true,
            indentUnit: 4
        });
        editor.on('change', function(cm, change) {
            var text = cm.getValue();
            var max = 20000;
            var remaining = max - text.length;
            var r = $("#content_remaining");
            r.html(remaining);
            //saveComposeDraft(memberId);
        });
    });
</script>
{{ end }}