<div id="main-container" class="conatiner" style="min-height: 359px;">
    <div class="container">
        <div class="col-md-9">
            <div class="user-art-list-container">
                <div class="row art-type-list">
                    <div class="col-sm-12 art-type-list-head">
                        <ul id="art_cate_type">
                            <li class="active"><a href="/ucenter/art_list/total">全部文章</a></li>
                            <li><a href="/ucenter/art_list/published">已发布</a></li>
                            <li><a href="/ucenter/art_list/back">被打回</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row art-list-sub">
                    {{range .ArtList}}
                    <div class="art-list-item">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td width="48" valign="top" align="center">
                                        <a href="/user/vicky"><img src="/image/default_64_64.jpg" class="avatar" width="48px"></a>
                                    </td>
                                    <td width="10"></td>
                                    <td width="auto" valign="middle">
                                        <span class="item_title">
                                            <a href="/article/{{ .Id}}" class="noul">h5游戏--招聘精英go语言主程序2名</a>
                                        </span>
                                        <div class="sep5"></div>
                                        <span class="small cc">
                                            <a class="node" href="/go/go">Go语言</a> &nbsp;•&nbsp;
                                            <strong>
                                                <a href="/user/vicky" class="noul">vicky</a>
                                            </strong> &nbsp;•&nbsp;
                                            <span title="2018-01-23 15:44:36" class="timeago">{{ .CreatedAt}}</span>&nbsp;•&nbsp;最后回复来自 
                                            <strong><a href="/user/vicky" class="noul">vicky</a></strong>
                                        </span>
                                    </td>
                                    <td width="70" align="right" valign="middle">
                                        <a href="/topics/4533#reply3" class="count_livid" title="3">3</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
        {{ template "right" }}
    </div>
</div>