<div id="main-container" class="container" style="min-height: 629px;">
  <div class="row">
    <div class="col-md-12 usercenter">
      <div class="uc">
        <div class="uc_top_bg">
          <img class="img-responsive" src="/Public/Usercenter/images/fractional.png" style="display: none">
        </div>
        <div class="row uc_info">
        <div class="col-md-3 col-xs-4">
          <dl>
            <dt>
              <a href="/ucenter/29050.html" title="">
                <img src="/image/default_128_128.jpg" class="avatar-img img-responsive top_img">
              </a>
            </dt>
            <dd>
              <div>
                <div class="col-xs-4 text-center" style="width:80px;">
                  <a href="/ucenter/fans_29050.html" title="粉丝数">0</a><br>粉丝
                </div>
                <div class="col-xs-4 text-center" style="width:100px;">
                  <a href="/ucenter/following_29050.html" title="关注数">0</a><br>关注
                </div>
              </div>
            </dd>
          </dl>
      </div>
      <div class="col-md-6 col-xs-8">
        <div class="uc_main_info">
          <div class="uc_m_t_12 uc_m_b_12 uc_uname">
            <span>
              <a ucard="29050" href="/ucenter/29050.html" title="" data-hasqtip="0">雪楓_BWl7</a>
            </span>
            <span></span>
          </div>
          <div class="uc_m_b_12 text-more" style="width: 100%">个性签名：
            <span>还没想好O(∩_∩)O</span>
          </div>
          <div class="uc_m_b_12">
            <span class="uc_m_r_36">积分：10&nbsp;&nbsp;</span>
          </div>
          <div class="uc_m_b_12">
            <span>等级：Lv1 实习</span>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default uc_navbar" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="/ucenter/forum" class="uc_current">论坛</a>
          </li>            
          <li>
              <a href="/ucenter/followingfans" class="">关注/粉丝</a>
          </li>
          <li>
              <a href="/ucenter/info" class="">个人资料</a>
          </li>
          <li>
              <a href="/ucenter/sign_history" class="">签到记录</a>
          </li>
        </ul>
        </div>
    </nav>
    <div class="row uc_content">
      <div class="col-md-7 col-xs-12">
        <link type="text/css" rel="stylesheet" href="/Public/Usercenter/css/forum.css">
        <div class="col-xs-12">
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-xs-12 uc_information" style="margin-left: 10px;">
              <ul class="nav nav-pills ucenter-tab">
                <li class="uc_current">
                  <a href="/ucenter/mypublish">发表的</a>
                </li>
                <li>
                  <a href="/ucenter/partin">参与的</a>
                </li>
                <li>
                  <a class="pull-right" href="/ucenter/new">发表新贴</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <p class="text-muted">
              <br><br>暂时没有帖子～<br><br><br>
              </p>
            </div>
          </div>
        <div class="pull-right"></div>
      </div>
      <div class="pull-right"></div>
    </div>
  </div>
</div>