<div class="yz-fl"></div>
<div class="yz-comm-right">
  <!--用户-->
  <div class="yz-sep20"></div>
  {{ template "rightUser" . }}
</div>
<div class="yz-comm-left">
  <div class="yz-sep20"></div>
  <div class="yz-box">
    <div class="yz-header">
      <a href="/">首页</a>
      <span class="yz-chevron">›</span> 个人中心
    </div>
    <div class="yz-cell">
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
          <tr>
            <td width="73" valign="top" align="center">
              <img src="//cdn.v2ex.com/avatar/21e8/a221/285624_large.png?m=1522306985" class="avatar" border="0" align="default">
              <div class="yz-sep10"></div>
              <strong class="yz-online">ONLINE</strong>
            </td>
            <td width="10"></td>
            <td width="auto" valign="top" align="left">
              <div class="yz-fr">
              </div>
              <h1 style="margin-bottom: 5px;">ppd</h1>
              <div class="yz-sep10"></div>
              <span class="yz-gray">
                <li class="fa fa-time"></li> &nbsp; V2EX 第 285624 号会员，加入于 2018-01-23 10:00:15 +08:00，今日活跃度排名
                <a href="/top/dau">3629</a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="yz-sep5"></div>
    </div>
  </div>
  <div class="yz-sep20"></div>
  <div class="yz-box">
    <div class="yz-cell">
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
          <tr>
            <td width="73" valign="top" align="center">
              总积分
            </td>
            <td width="10">{{ .User.ScoreTotal }}</td>
            <td width="auto" valign="top" align="left">查看详情</td>
          </tr>
          <tr>
            <td width="73" valign="top" align="center">
              现有积分
            </td>
            <td width="10">{{ .User.ScoreCurrent }}</td>
            <td width="auto" valign="top" align="left"><a></a>去兑换</td>
          </tr>
          <tr>
            <td width="73" valign="top" align="center">
              已消耗积分
            </td>
            <td width="10">{{ .User.ScoreCost }}</td>
            <td width="auto" valign="top" align="left">查看详情</td>
          </tr>
        </tbody>
      </table>
      <div class="yz-sep5"></div>
    </div>
  </div>
</div>