<div class="section clearfix">
    <div class="line30"></div>
  
    <div class="info-wrap">
      <!--左侧导航-->
          <div class="info-box">
        <div class="avatar-box">
          <a href="/user/center/avatar.html" class="img-box">
            
              <img src="http://q.qlogo.cn/qqapp/101423286/0249B84A3C2BABFBF9FFDC52BC7D315E/100">
            
          </a>
          <h3>
          
            雪楓
          
          </h3>					
        </div>
        <ul class="side-nav">
          <li>
            <a href="/user/order-list.html" class="current">下载记录</a>
            <a href="/user/address.html">收藏管理</a>
          </li>
          <li>
            <a href="/user/amount/recharge.html">会员充值</a>
            <a href="/user/point/convert.html">我的积分</a>
            <a href="/user/message/system.html">站内消息</a>
            <a href="/user/center/invite.html">邀请好友</a>
          </li>
          <li>
            
            <a href="/user/center/proinfo.html">个人资料</a>
            <a href="/user/center/avatar.html">头像设置</a>
            <a href="/user/center/password.html">修改密码</a>
            <a href="/user/center/exit.html">退出登录</a>
          </li>
        </ul>
      </div>
      <!--/左侧导航-->
      
      <!--右侧内容-->
      <div class="home-box">
        
        <!--会员中心-->
        <div class="u-tab-content">
          <div class="title-div">
            <strong>会员中心</strong>
          </div>
          
          <div class="head-box clearfix">
            <div class="img-box">
              
                <img src="http://q.qlogo.cn/qqapp/101423286/0249B84A3C2BABFBF9FFDC52BC7D315E/100">
              
            </div>
            <div class="inner">
              <h3>尊敬的会员 
  
            雪楓
          
  ，欢迎您！</h3>
              <p>您的会员等级：注册用户</p>
              <p>个人成长值：0点</p>
              <p>
                <a href="/user/center/avatar.html">设置头像</a>
                &nbsp;&nbsp;&nbsp;&nbsp;<a href="/user/center/password.html">修改密码</a>
              </p>
            </div>
          </div>
          <div class="clear"></div>
          
          <div class="head-inner clearfix">
            <h3>账户统计</h3>
            <dl>
              <dt>账户积分：</dt>
              <dd>
                <b class="red">0</b> 分
              </dd>
            </dl>
            <dl>
              <dt>未读消息：</dt>
              <dd>
                <b class="red">
                  1
                </b>条
              </dd>
            </dl>
          </div>
          
          <div class="head-inner clearfix">
            <h3>登录统计</h3>
            <dl>
              <dt>本次登录IP：</dt>
              <dd>180.154.217.176</dd>
            </dl>
            <dl>
              <dt>上次登录IP：</dt>
              <dd>180.154.217.176</dd>
            </dl>
            <dl>
              <dt>注册时间：</dt>
              <dd>2017/12/31 1:46:19</dd>
            </dl>
            <dl>
              <dt>上次登录时间：</dt>
              <dd>2017/12/31 1:46:19</dd>
            </dl>
          </div>
          
        </div>
        <!--/会员中心-->
        
        
        
      </div>
      <!--/右侧内容-->
    </div>
  </div>